<!DOCTYPE html>
<html lang="en">
    <head>
	    <meta charset="UTF-8">
        <title>Страница поиска</title>
    </head>
    <body>
        <form method='post'>
            <h2>Введите ваш запрос:</h2>
            <input type="text" name="query">
            <br>
            <input type="submit" value="Поиск">
        </form>
        {% if query %}
            {% for href, score in links %}
                <li><a href="{{ href }}">{{ href }}</a>    {{score}}</li>
            {% endfor %}
        {% endif %}
    </body>
</html>